<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StokVest - Create a Stokvel</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

      body {
        font-family: 'Montserrat', sans-serif;
        font-family: sans-serif;
        background-color: #fff;
        color: #fff;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        padding: 0;
      }

      .parent-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        width: 100%;
      }

      .container {
        background-color: #242C3B;
        padding: 20px;
        border-radius: 10px;
        margin: 20px auto;
        max-width: 900px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 100%;
      }

      .back-container {
        background-color: #fff;
        margin: 0px;
        padding: 10px;
        border-radius: 10px;
        text-align: right; /* Align back button to the right */
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background: #242C3B;
        color: white;
      }

      h2 {
        color: #0ea5e9;
        text-align: center;
        margin-bottom: 20px;
      }

      .form-control {
        color: #fff;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 15px;
      }

      .action-button {
        background-color: #0ea5e9;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        <!--display: inline-block;-->
        margin-top: 10px;
        text-align: center;
        <!--text-decoration: none;-->
        width: 50%;
        border: none;
      }

      .action-button:hover {
        background-color: #0a85e9;
      }

      .error-explanation {
        color: red;
        font-size: 16px;
        margin-bottom: 15px;
      }

      .error-explanation ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .error-explanation li {
        margin-bottom: 10px;
      }

      @media (max-width: 600px) {
        .container {
          padding: 15px;
        }

        .form-control {
          padding: 8px;
        }

        .action-button {
          padding: 8px 16px;
        }
      }
    </style>
  </head>
  <body>
    <div class="parent-container">
      <div class="back-container">
      </div>
      <div class="container">
        <a href="#" onclick="history.back(); return false;">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAZ0lEQVR4nO2WMQqAQAwE5xMR/f9LrETRxit8jsdJbKwsNIK306UaWJYlIMR9GmABeoKlCdiBMUpqwOrSDWglfRLF+ypWTXsLs0uTjwW/F9sl6k7yCEyxo8J99PpMkeJTXhZuOC5RPRnBEDtxjsnsowAAAABJRU5ErkJggg==" alt="Back" style="width: 20px; height: 20px;">
        </a>
        <div class="header">
          <h1>Create a new Stokvel</h1>
        </div>
        <br>
        <%= form_with(model: @stokvel, local: false, data: { turbo: true }) do |form| %>
          <% if @stokvel.errors.any? %>
            <div class="error-explanation">
              <h2><%= pluralize(@stokvel.errors.count, "error") %> prohibited this stokvel from being saved:</h2>
              <ul>
                <% @stokvel.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="mb-3">
            <%= form.text_field :name, class: "form-control", placeholder: "Stokvel name" %>
          </div>
          <div class="mb-3">
            <%= form.text_area :description, class: "form-control", rows: "4", placeholder: "Description" %>
          </div>
          <h2>Set Monthly Contribution (R)</h2>
          <div class="mb-3">
            <% [100, 200, 500,  800, 1000, 1300, 1500, 2000, 2500].each do |amount| %>
              <%= form.radio_button :contribution_amount, amount %>
              <%= form.label :contribution_amount, amount, class: "mr-3" %>
            <% end %>
          </div>
          <h2>Contribution Frequency</h2>
          <div class="mb-3">
            <%= form.radio_button :contribution_frequency, 'daily' %> Daily
            <%= form.radio_button :contribution_frequency, 'weekly' %> Weekly
            <%= form.radio_button :contribution_frequency, 'monthly' %> Monthly
          </div>
          <br>
          <br>
          <div class="action-button">
            <%= form.submit "Create Stokvel", class: "action-button" %>
          </div>
        <% end %>
      </div>
      <br>
      <br>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </body>
</html>
