<style>
.contribution-details {
  background-color: #242C3B;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 900px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.contribution-details .title {
  margin-top: 0;
}

.contribution-details .details {
  background-color: #f9f9f9;
  color: #333;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.contribution-details .button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contribution-details .action-button {
  background-color: #0ea5e9;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 16px;
}

.contribution-details .action-button:hover {
  background-color: #0a85e9;
}
</style>

<div class="contribution-details">
  <h1 class="title">Contribution Details</h1>
  <div class="details">
    <p>
      <strong>Stokvel:</strong> <%= @contribution.stokvel.name %><br>
      <strong>Transaction Number:</strong> <%= @contribution.transaction_number %><br> <!-- New Transaction Number -->
      <strong>Amount:</strong> <%= number_to_currency(@contribution.amount, unit: "R", format: "%u%n") %><br>
      <strong>Date:</strong> <%= @contribution.created_at.strftime("%B %d, %Y") %><br>
      <strong>Member:</strong> <%= @contribution.member.user.first_name %> <%= @contribution.member.user.last_name %><br> <!-- Member Name -->
      <strong>Status:</strong> <%= @contribution.status %> <!-- Transaction Status -->
    </p>
  </div>
  <div class="button-container">
    <%= link_to 'Back to Transactions', transactions_path, class: "action-button" %>
  </div>
</div>
